
.changeStatusButton{
    background-color: blueviolet;
    width: 100px;
    height: 40px;
    margin: 10px;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }
  
  .changeStatusButton:after {
    content: "";
    background-color: aquamarine;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .changeStatusButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .id{
    background-color:dimgrey;
    border-radius: 50%;
    width: 30px;
    height: 27px;
    text-align:center;
    margin: 0%;
    padding-top: 3px;
  }
  
  .status{
    color: aquamarine;
    font-family:Verdana;
    font-style: italic;
    background-color: transparent;
  }
  